<body>
    <div class="content"> 
        <div class="main-content">
            <div class="info-head">
                <h1 id="title">{{event.event_name}}</h1>
                <h3 id="date_venue">{{event.venues.venue_name}}, {{event.venues.suburb}}, {{event.date_and_time}}</h3>
            </div>
            <div class="gig-body" id="description">
                {{event.event_description}}
            </div>
        </div>
        <div class="gig-body" id="right-sidebar">
                <div class="right-sidebar-content" id="artists">
                    <h3>Artists:</h3>
                    <ol>
                        {{#each event.event_lineup}}
                            <li>
                            {{#each artist_lineup}}
                                <a href="../artists/{{artists.artist_id}}">{{artists.artist_name}}</a>
                            {{/each}}
                            </li>
                        {{/each}}
                    </ol>
                </div>
                <div class="right-sidebar-content" id="links">
                    <h3>Links:</h3>
                    {{#each event.links}}
                    <a href="{{link}}"> {{link_name}} </a>
                    {{/each}}
                </div>
                <div class="right-sidebar-content" id="tags">
                    <h3>Tags:</h3>
                    <p>{{#each event.event_tags}} 
                        {{tag}}, 
                    {{/each}}</p>
                </div>
            </div>
    </div>
</body>