    <body>
        <h1>It's gig city.</h1>
        <h3>Explore what's happening in your city today.</h3>
        <img src="views/leany thing.svg" height="266px" width="547px" style="align: right"/>
        <div class="content">
            <div id="guide">
                <h2>GIGS ON FROM {{#dateString start_date}} {{/dateString}} TO {{#dateString end_date}} {{/dateString}}</h2>
                <form>
                    <input type="date">
                    <input type="date"> 
                    <div class="autocomplete"><input type="text" placeholder="Artists"></div>
                    <div class="autocomplete"><input type="text" placeholder="Tags"></div> 
                    <div class="autocomplete"><input type="text" placeholder="Venue"></div>
                </form>
                <table id="guide-table">
                    <tr>
                        <th>Name</th>
                        <th>Venue</th>
                        <th>Date and Time</th>
                        <th>Tickets</th>
                    </tr>
                    <!-- <tr>
                        <td><a href="gigs/?id=2">Sidney Phillips, Brazen Barbie + More</a></td>
                        <td><a href="venues/">The Evelyn Hotel</a></td>
                        <td>21/12/2025, 8pm-Late</td>
                        <td><a href="https://tickets.oztix.com.au/outlet/event/4557e00b-9f40-4fb1-8b9a-aa0cdd2f3edc">Link</a></td>
                    </tr>
                    <tr>
                        <td>Cool show</td>
                        <td>Dope place</td>
                        <td>Charlie kirk avenue</td>
                        <td>Link</td>
                    </tr> -->
                {{#each events}}
                    <tr>
                        <td><a href="events/{{event_id}}">{{event_name}}</a></td>
                        <td><a href="venues/{{venue_id}}">{{venue_name}}</a></td>
                        <td>{{#dateTimeString date_and_time}} {{/dateTimeString}}</td>
                        <td><a href="{{ticket_link}}">Link</a></td>
                    </tr>
                {{/each}}
                </table>
            </div>
        </div>
    </body>